.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  
#studentsContainer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.small-card {
    padding: 10px;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    max-width: 300px; 
    margin: 0 auto; 
  }